<div id="login-popup" class="login-popup hidden">

    <div class="login-popup-content">

        <i class="fa fa-lock popup-icon"></i>

        <h2>
            Login Required
        </h2>

        <p>
            Please login to access full features
        </p>

        <div class="popup-buttons">

            <a href="../auth/signin.html" class="login-btn">
                Sign In
            </a>

            <button id="close-popup">
                Cancel
            </button>

        </div>

    </div>

</div>