<nav class="site-navbar">
  <div class="site-navbar__inner">

    <a href="../Home/Home.html" class="site-navbar__brand">
      <img src="../assets/logo.png" alt="Furniro Logo">
      <span>Furniro</span>
    </a>

    <div class="site-navbar__menu">
      <a href="../Home/Home.html" class="site-navbar__link">Home</a>
      <a href="../Shop/index.html" class="site-navbar__link">Shop</a>
      <a href="../blog/blog.html" class="site-navbar__link">Blog</a>
      <a href="../checkout/contact.html" class="site-navbar__link">Contact</a>
    </div>

<div class="site-navbar__actions">

    <!-- User -->
    <a href="../auth/signin.html" class="site-navbar__icon">
        <i class="fa fa-user"></i>
    </a>

    <!-- Search -->
    <a href="../Shop/index.html" class="site-navbar__icon">
        <i class="fa fa-search"></i>
    </a>

    <!-- Wishlist -->
    <a href="../Wishlist/Wishlist.html" class="site-navbar__icon">
        <i class="fa fa-heart-o"></i>
    </a>

    <!-- Cart -->
    <a href="../Home/cart.html" class="site-navbar__icon cart-icon">

        <i class="fa fa-shopping-cart"></i>

        <span id="cart-count">0</span>

    </a>

</div>

  </div>
</nav>