<nav class="site-navbar">
  <div class="site-navbar__inner">

    <a href="../Home/Home.html" class="site-navbar__brand">
      <img src="../assets/logo.png" alt="Furniro Logo">
      <span>Furniro</span>
    </a>

    <div class="site-navbar__menu">
      <a href="../Home/Home.html" class="site-navbar__link">Home</a>
      <a href="../Shop/index.html" class="site-navbar__link">Shop</a>
      <a href="../blog/blog.html" class="site-navbar__link">Blog</a>
      <a href="../checkout/contact.html" class="site-navbar__link">Contact</a>
    </div>

<div class="site-navbar__actions">

    <div class="site-navbar__profile" id="auth-profile-container">
      <button type="button" class="site-navbar__icon" id="auth-link" aria-haspopup="true" aria-expanded="false">
        <span class="profile-badge" id="profile-badge">
          <i class="fa fa-user"></i>
        </span>
      </button>
      <div class="site-navbar__profile-menu hidden" id="auth-menu">
        <div class="profile-menu__header">
          <span id="profile-name"></span>
        </div>
        <button type="button" class="profile-menu__item" id="profile-view-btn">Profile</button>
        <button type="button" class="profile-menu__item" id="orders-view-btn">Orders</button>
        <button type="button" class="profile-menu__item profile-menu__logout" id="logout-btn">Logout</button>
      </div>
    </div>

    <!-- Search -->
    <a href="../Shop/index.html" class="site-navbar__icon">
        <i class="fa fa-search"></i>
    </a>

    <!-- Wishlist -->
    <a href="../Wishlist/Wishlist.html" class="site-navbar__icon">
        <i class="fa fa-heart-o"></i>
    </a>

    <!-- Cart -->
    <a href="../Home/cart.html" class="site-navbar__icon cart-icon">

        <i class="fa fa-shopping-cart"></i>

        <span id="cart-count">0</span>

    </a>

</div>

  </div>
</nav>